## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [5]:
import pandas as pd
    
# загрузите датасет
df = pd.read_csv(r"C:\Users\Елена\Downloads\vgsales.csv")  # ваш код здесь

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [36]:
# ваш код здесь
unique_values = df['Name'].nunique()
print(unique_values)

11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [10]:
# ваш код здесь
total_sales = df['JP_Sales'].sum()
print(f'Общая величина продаж: {total_sales}')

Общая величина продаж: 1291.0200000000002

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [15]:
# ваш код здесь
grouped_data = df.groupby("Genre")["NA_Sales"].sum()
top_3_genres = grouped_data.sort_values(ascending=False).head(3)
top_3_genres

Genre
Action     877.83
Sports     683.35
Shooter    582.60
Name: NA_Sales, dtype: float64

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [23]:
# ваш код здесь
df_2000 = df[df["Year"] == 2015] 
grouped_data = df_2000.groupby("Platform")["Global_Sales"].sum()
most_popular_platform = grouped_data.sort_values(ascending=False).idxmax()
most_popular_platform

'PS4'

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [26]:
# ваш код здесь
df_2012_2015 = df[(df["Year"] >= 2012) & (df["Year"] <= 2015)]
grouped_data = df_2012_2015.groupby("Publisher").size()
most_popular_publisher = grouped_data.sort_values(ascending=False).idxmax()
most_popular_publisher

'Namco Bandai Games'

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [33]:
# ваш код здесь
total_sport_games = df[df['Genre'] == 'Sports'].shape[0]
sport_games_in_eu = df[(df['EU_Sales'] > 0) & (df["Genre"] == 'Sports')].shape[0]
percentage = sport_games_in_eu / total_sport_games * 100
percentage

67.05029838022165